<div class="navbar">
    
    <a for="navbar-toggle" class="navbar-icon" (click) = "toggleDrawer()">&#9776;</a>

    <div class="navbar-header">
        <img src = "../../assets/goodlife.jpeg" class = "navbar-brand">
    </div>


    <h4 style = "color: #F7F7F7" class = "pangolin">Welcome to Goolife Machines Admin Portal</h4>
    <nav class="navbar-menu">
      <ul class = "navbar-right">
        <li *ngIf = "loggedIn"><a routerLink = "/" (click) = "onLogout()">Logout</a></li>
      </ul>
    </nav>
  </div>

  <p-sidebar [(visible)]="openDrawer" (onHide) = "openDrawer = false;">
    <ng-template pTemplate="header">
        <img src = "../../assets/goodlife.jpeg" class = "img img-responsive">
    </ng-template>
    <hr class = "custom-hr">
    <ng-template pTemplate="content">
        <h4 class = "pangolin option"><a routerLink = "/categories" routerLinkActive = "active-link" (click) = "openDrawer = false;">CATEGORIES</a></h4>
        <hr class = "custom-hr">
        <h4 class = "pangolin option"><a routerLink = "/dailyReport" routerLinkActive = "active-link" (click) = "openDrawer = false;">SPARE PART ORDERS</a></h4>
        <hr class = "custom-hr">
        <h4 class = "pangolin option"><a routerLink = "/notifications" routerLinkActive = "active-link" (click) = "openDrawer = false;">NOTIFICATIONS</a></h4>
        <hr class = "custom-hr">
        <h4 class = "pangolin option"><a routerLink = "/manage" routerLinkActive = "active-link" (click) = "openDrawer = false;">MANAGE</a></h4>
        <hr class = "custom-hr">
        <h4 class = "pangolin option"><a routerLink = "/reporting" routerLinkActive = "active-link" (click) = "openDrawer = false;">REPORTING</a></h4>
    </ng-template>
</p-sidebar>