<div class="loader" *ngIf="isLoading"></div>

<div class="container" *ngIf="!isLoading">
  <h3 class="inline-heading">Areas</h3>
  <button class="btn choc-button" (click)="onAddArea()">Add A New Area</button> 
  <hr>

  <ul class="list-group list-group-flush">
    <li 
  class="list-group-item area-row"
  *ngFor="let area of areaData; let i = index;"
>
  <span class="area-name">{{ area.areaName | uppercase }}</span>

  <div class="action-buttons">
    <button class="btn btn-primary" (click)="editArea(area, i)">Edit</button>
    <button class="btn btn-danger" (click)="deleteArea(i)">Delete</button>
  </div>
</li>
  </ul>
</div>