<p-dialog header="SURE?" [(visible)]="dialogVisible" [style]="{width: '50%'}" [modal]="true">
    <h6>
        Selected Item will be deleted. Click OK to proceed!
    </h6>
    <button class="btn choc-button" (click)="deleteItem()">OK</button>
</p-dialog>

<div class="card bottom-spaced-box">
    
    <img [src]="item.imgUrl" class="card-img-top">

    <div class="card-body">

        <h5 class="card-title center-text pangolin">
            {{ item.itemName | uppercase }}
        </h5>

        <!-- Badge -->
        <div class="custom-badge" 
             [ngClass]="item.isCustomizable ? 'yes' : 'no'">
            {{ item.isCustomizable ? 'Customizable' : 'Fixed Item' }}
        </div>

        <!-- Price -->
        <div class="price-row pangolin">
            PRICE : Rs.{{ item.price }}
        </div>

        <!-- ✅ Action Buttons -->
        <div class="action-buttons">
            <button class="btn edit-btn" (click)="editItem()">
                Edit
            </button>

            <button class="btn delete-btn" (click)="showDialog()">
                Delete
            </button>
        </div>

    </div>
</div>